@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans&display=swap&subset=korean');
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    list-style: none;
    font-family: 'GmarketSansMedium';
}
header {
    position: relative;
    border: 0px solid black;
    width: 100%; height: 170px;
}
.top_nav {
    border: 0px solid black;
    width: 100%; height: 120px;
    display: flex;
}
.top_nav div {
    width: 3%; height: 50px;
    line-height: 55px;
    border: 0px solid red;
    background: black; color: white;
    border-radius: 100%;
    text-align: center;
    font-size: 1.2rem;
    margin: 10px 0px 0px 10px;
    cursor: pointer;
}
.top_nav p {
    margin: 0 auto;
    border: 0px solid blue;
    width: 70%; height: 100%;
    line-height: 180px;
    text-align: center;
}
.bottom_nav {
    border: 0px solid red;
    width: 100%; height: 50px;
}
.bottom_nav .menu {
    margin: 0 auto;
    width: 70%; height: 100%;
    line-height: 50px;
    border: 0px solid black;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.menu li {
    width: 10%; height: 100%;
    border: 0px solid red;
    text-align: center;
    background: white;
}
.menu li:hover {
    transition: 0.2s all;
    color: #E49292;
}
.menu li:first-child:hover {

}
section {
    position: relative;
    border: 1px solid black;
    width: 100%; height: 1000px;
}
.subbox {
    border: 0px solid blue;
    width: 70%; height: 200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.subbox ul {
    width: 10%; height: 100%;
    border: 1px solid black;
    text-align: center;
    display: none;
}
.subbox ul li {
    width: 100%; height: 40px;
    line-height: 40px;
    border: 1px solid green;
}
.mid_img{
    position: absolute;
    width: 100%; height: 600px;
}
.mid_img img {
    width: 100%; height: 100%;
}
.arrow {
    position: absolute; top: 300px;
    width: 100%; height: 50px;
    display: flex;
    justify-content: space-between;
}
.arrow p {
    width: 4%; height: 100%;
    line-height: 50px;
    font-size: 2.5rem;
    text-align: center;
    border: 0px solid white;
    
    color: white;
}